 { 
 "__globalconfig__":                        
                 { "listenerIp":"127.0.0.1",
                   "listenerPort":"6589",
                   "server":"127.0.0.1",
                   "serverPort":"6589",
                   "loglevel":"1"
                  },
 "test1":                
      { "clientrequest":  
                     { "pathname": "/test1",
                       "method": "GET",
                     },
        "clientcheck":  
                   { "statusCode": "200"
                   },
        "serverresponse":  
                      { "pathname": "/test1",
                        "method": "GET",
                        "statusCode": "200",
                        "body": "Test 1 response here"
                      }
         },
 "test2":                
      { "clientrequest":  
                     { "pathname": "/testt2",
                       "method": "POST",
                       "filename": "file.sample",
                        "transrate": "300000",
                        "transfreq": "25"
                     },
        "serverresponse":  
                      { "pathname": "/test2",
                        "method": "POST",
                        "statusCode": "200"
                      }
       },
 "test3":                
      { "clientrequest":  
                     { "pathname": "/test3",
                       "method": "GET",
                     },
        "clientcheck":  
                   { "statusCode": "302"
                   },
        "serverresponse":  
                      { "pathname": "/test3",
                        "method": "GET",
                        "statusCode": "302",
                        "headers": {"Contact":"/test4"},
                        "body": "Test 3 response here"
                      },
        "servercheck":   
                   { "headers": {"x-qck-id":"123456789"}
                   }
       },
 "test4":                
      { "serverresponse":  
                      { "pathname": "/test4",
                        "method": "GET",
                        "statusCode": "200",
                        "body": "Test 4 response here"
                      }
      }

}
